@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Roboto:wght@100&display=swap');


.contenido{
    background-color: blue;
    background: linear-gradient(180deg, #f5536f 0%, #fb506e 100%);
}
.tabla1{
    color: #ffffff;
    font-family:'Roboto';
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 30px 40px;
    position: relative;
    left:5%;
}
.seccion2{
    color: #ffffff;
    position: relative;
    left:40%;
    font-family:'Roboto';
    font-size: 14px;
    font-weight:bolder;
    
}

.boton1{
    background: linear-gradient(180deg, #f5536f 0%, #fb506e 100%);
    color: #ffffff;
    font-size: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 10px 24px;
    border:1px solid white ;
    border-radius: 50px;
}
.tabla2{
    
    
    color: white;
    font-size: 32px;
    font-family: 'Roboto';
    margin-top: -10px;
    margin-left: 20%;
    margin-right: 9%;
    margin-top: -50px;
    
    
}
.boton2{
    background: #583BB6;
    color: #ffffff;
    font-size: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 10px 24px;
    border:1px solid white ;
    border-radius: 50px;
}
.elemento2{
    padding-left: 7%;
    
}
.tabla3{
    text-align: center;
    position: relative;
    left:30%;
    font-size: 16px;
    
}

.textotabla3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 382px;
    padding: 16px;
    margin-right: 30px;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    font-family: 'roboto';
}
.reloj{
    background-color: rgba(255,255,255,0.35);
    
    border-radius: 8px;
    margin-right: 75%;
    font-weight: bold;
}
